{% extends 'base.html.twig' %}

{% block title %}Hello NewslettersController!
{% endblock %}

{% block body %}
<hr>
<hr>
<hr>

	<div class="row">
    <h1 class="col-md-8 mx-auto">Choix Newsletters</h1>
		<div class="col-md-8 mx-auto">
			{{form(form)}}
			</div>
		</div>
        <hr>
            <hr>
            <hr>

	{% endblock %}
