{% extends 'base.html.twig' %}

{% block title %}Creation une nouvelle newsletter
{% endblock %}

{% block body %}
	<hr>
	<hr>
	<hr>

	<div class="row">
		<h1 class="col-md-8 mx-auto">Creation d'une nouvellle Newsletter</h1>
		<div class="col-md-8 mx-auto">
			{{form(form)}}
			</div>
		</div>
		<hr>
		<hr>
		<hr>
	{% endblock %}
